<%- include('partials/header'); -%>

  <div class= "content-holder">
    <h1><%=startingTitle%></h1>
    <p><%=startingContent%> <a href="mailto:leontasinshafi@gmail.com?subject=dailyJournalMail"><%=email%></a>.</p>
  </div>

<%- include('partials/footer'); -%>
